In [2]:
# libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
city_data = pd.read_csv("raw_data/city_data.csv")
city_data.head()

ride_data = pd.read_csv("raw_data/ride_data.csv")
ride_data.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [15]:
for city in city_data:
    city_group = ride_data.groupby(['city'])
    city_count= city_group['city'].value_counts()
    city_mean= city_group['city'].mean()

DataError: No numeric types to aggregate

In [ ]:
for city in 
berry_phone = df.loc["Berry", "Phone Number"]

In [ ]:
# Change color with c and alpha. I map the color to the X axis value.
plt.scatter(x, y, s=z*2000, c=x, cmap="Blues", alpha=0.4, edgecolors="grey", linewidth=2)

# Add titles (main and on axis)
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")
plt.title("Pyber Ride Sharing Data")

plt.legend()

plt.show()